@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body{
  /*background-image: url("http://i.imgur.com/37jwr7s.jpg");*/
  background: url('../../background2_for_game.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /*background-size: 600% 600%;*/
}

.container-main {
  width: 1200px;
  height:650px;
  margin: 0 auto;
  top: 20px;
  font-size: 13;
  /*background-color: grey;*/
  /*display: inline-block;*/
  /*float: left;*/
  position: relative;
}

.container-left {
  width: 640px;
  height:640px;
  /*margin: 0 auto;*/
  /*top: 40px;*/
  font-size: 0;
  /*background-color: red;*/
  display: inline-block;
  float:left;
  /*position: relative;*/
}

.main-panel {
  width: 550px;
  height:550px;
  /*margin: 0 auto;*/
  /*top: 40px;*/
  /*margin-left: -20px*/
  /*font-size: 0;*/
  display: inline-block;
  float: right;
  /*background-color: red;*/
  /*position: relative;*/
}

.top {
  width: 500px;
  height:400px;
  /*margin: 0 auto;*/
  /*top: 40px;*/
  /*margin-left: -20px*/
  font-size: 0;
  display: inline-block;
  float: right;
  background-color: #474350;
  border-radius:15px;
  border-style:solid;
  border-color: 'black';
  /*position: relative;*/
}

.divCount{
  height: 50px;
  width: 250px;
  position: relative;
  text-align: left;
  border-radius: 8px;
  border-color: #EEE4E1;
  border-width: 6px;
  border-style: solid;
  margin: 20px auto;
  background-position: center;
  background-color: #C297B8;
}

.divCount-StartButton{
  /*height: 50px;*/
  /*width: 250px;*/
  position: relative;
  /*text-align: center;*/
  /*border-radius: 8px;*/
  /*border-color: #EEE4E1;*/
  /*border-width: 6px;*/
  /*border-style: solid;*/
  background-position: center;
  margin: 20px auto;
  /*background-color: #E87461;*/
}

.StartGame {
  font-size: 30px;
  font-weight: bold;
  color: #4B3B47;
  font-family: 'Gloria Hallelujah', cursive;
  text-transform: uppercase;
  margin: 0px 130px 0px 130px;

}

.right-panel-text-pups{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: left;
  margin: auto 5px;
}

.right-panel-text-time{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: left;
  margin: auto 5px;
}


/*.buttons-panel {
  width: 500px;
  height: 80px;
  display: inline-block;
}*/

/*.quit-button{
  background-color: #FFFD82;
  background-position: center;
  height: 70px;
  width: 185px;
  /*position: relative;*/
  /*text-align: center;
  font-size: 40px;
  font-weight: bold;*/
  /*border-radius: 12px;
  border-color: #EEE4E1;
  border-width: 10px;
  border-style: solid;
  margin: 10px 20px;
  display: inline-block;*/
  /*flex:auto;*/
/*}*/

/*.main-menu-button{
  background-color: #FFFD82;
  background-position: center;
  height: 70px;
  width: 185px;
  /*position: relative;*/
  /*text-align: center;
  font-size: 40px;
  font-weight: bold;*/
  /*border-radius: 12px;
  border-color: #EEE4E1;
  border-width: 10px;
  border-style: solid;
  margin: 10px 20px;*/
  /*display: inline-block;
  float: right;*/
  /*flex:auto;*/
/*}*/

.buttons-panel-text1{
  height: 70px;
  width: 185px;
  background-color: #FFFD82;
  /*border: none;*/
  /*align-items: center;*/
  outline: none;
  font-size: 30px;
  border-radius: 12px;
  border-width: 10px;
  border-color: #EEE4E1;
  font-weight: bold;
  margin: 10px 20px;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  background-position: center;
  display: inline-block;
  color: #4B3B47;
  float: left;

  /*padding: 0px 0px 20px 0px;*/
  margin: 5px 30px;
}

.buttons-panel-text2{
  height: 70px;
  width: 185px;
  background-color: #FFFD82;
  /*border: none;*/
  /*align-items: center;*/
  outline: none;
  font-size: 30px;
  border-radius: 12px;
  border-width: 10px;
  border-color: #EEE4E1;
  font-weight: bold;
  margin: 10px 20px;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  background-position: center;
  display: inline-block;
  color: #4B3B47;
  float: left;

  /*padding: 0px 0px 20px 0px;*/
  margin: 5px 30px;
}

.quit-button:hover{
  background-color: #7180AC;
}
.main-menu-button:hover{
  background-color: #7180AC;
}
.box{
  width: 165px;
  height: 140px;
  border-radius:6px;
  display: inline-block;
  position: relative;
  float: left;
  background: #A6CFD5;
  margin: 5px 5px;
}
.box:hover{
  background: #FFA686;
}
.box.puppy{
  background-image:url('../../giphy.gif');
  background-size: cover;
  background-position: center;
  max-height: 100%;
  max-width: 100%;
}

.box.fox{
  background-image: url('../../fox.gif');
  background-size: cover;
  background-position: center;
  max-height: 100%;
  max-width: 100%;
}
/*.modal-content{
  display: none;
  position:fixed;
  z-index: 1;
  margin: 15% auto;
  width: 80%;
  background-color: #7180AC;
}*/
